/* your styles go here */
.nav.navbar-nav.menu-main-menu.menu {
    margin-left: auto;
}

ul.term.term-tags {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    ul.term.term-tags li {
        padding: 0 5px 3px 0;
    }

.pager {
    list-style: none;
    display: flex;
    flex-direction: row;
}

    .pager li a {
        display: inline-block;
        padding: 0.5em 0.7em;
        font-size: 1.75em;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 5px;
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
    }
