<!DOCTYPE html>
<html lang="@Orchard.CultureName()">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">




    <style asp-name="ElistTheme-FontStyle"></style>
    <style asp-name="ElistTheme-Swiper"></style>
    <style asp-name="ElistTheme-Aos"></style>

    <style asp-name="ElistTheme-MalihuScrollbar"></style>
    <style asp-name="ElistTheme-Default"></style>
    <style asp-name="ElistTheme-Custom"></style>
    <style asp-name="ElistTheme-FontAwesome"></style>


    <script asp-name="ElistTheme-Bootstrap" at="Foot"></script>
    <script asp-name="ElistTheme-Jquery" at="Foot"></script>
    <script asp-name="ElistTheme-Bootstrap" at="Foot"></script>
    <script asp-name="ElistTheme-Swiper" at="Foot"></script>
    <script asp-name="ElistTheme-BootstrapSelect" at="Foot"></script>
    <script asp-name="ElistTheme-Aos" at="Foot"></script>
    <script asp-name="ElistTheme-mCustomScrollbar" at="Foot"></script>
    <script asp-name="ElistTheme-CustomScrollbar" at="Foot"></script>
    <script asp-name="ElistTheme-PolyFills" at="Foot"></script>
    <script asp-name="ElistTheme-Ofi" at="Foot"></script>
    <script asp-name="ElistTheme-Countdown" at="Foot"></script>
    <script asp-name="ElistTheme-Sliders" at="Foot"></script>
    <script asp-name="ElistTheme-Theme" at="Foot"></script>


    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
    @await RenderSectionAsync("HeadMeta", required: false)
</head>

<body>
    <!-- Header START -->


       <header class="header"> 
      <!-- Top Bar-->
      <div class="top-bar text-sm">
        <div class="container-fluid px-lg-5 py-3">
          <div class="row align-items-center">
            <div class="col-md-4 d-none d-md-block">
              <ul class="list-inline mb-0">
                <li class="list-inline-item me-2"><a class="text-reset text-primary-hover" href="#"><i class="fab fa-facebook-f"> </i></a></li>
                <li class="list-inline-item me-4"><a class="text-reset text-primary-hover" href="#"><i class="fab fa-twitter"> </i></a></li>
                <li class="list-inline-item me-2">
                  <svg class="svg-icon me-2">
                    <use xlink:href="#calls-1"> </use>
                  </svg>020-800-456-747
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 text-start text-md-center">
              <p class="mb-0">Free in-store delivery</p>
            </div>
            <div class="col-sm-6 col-md-4 d-none d-sm-flex justify-content-end">
              <!-- Language Dropdown-->
              <div class="dropdown border-right px-3"><a class="dropdown-toggle topbar-link" id="langsDropdown" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false">English</a>
                <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end" aria-labelledby="langsDropdown"><a class="dropdown-item" href="#">German</a><a class="dropdown-item" href="#">French</a></div>
              </div>
              <!-- Currency Dropdown-->
              <div class="dropdown ps-3 ms-0"><a class="dropdown-toggle topbar-link" id="currencyDropdown" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false">USD</a>
                <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end" aria-labelledby="currencyDropdown"><a class="dropdown-item" href="#">EUR</a><a class="dropdown-item" href="#"> GBP</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top Bar End-->
      <nav class="navbar navbar-expand-lg bg-transparent border-0 shadow-0 navbar-light px-lg-5 z-index-20 "><a class="navbar-brand" href="index.html">Varkala</a>
        <ul class="list-inline mb-0 d-block d-lg-none">
          <li class="list-inline-item me-3"><a class="text-dark text-primary-hover" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
              <svg class="svg-icon navbar-icon">
                <use xlink:href="#avatar-1"> </use>
              </svg></a></li>
          <li class="list-inline-item me-3"><a class="text-dark text-primary-hover position-relative" href="wishlist.html">
              <svg class="svg-icon navbar-icon">
                <use xlink:href="#heart-1"> </use>
              </svg>
              <div class="navbar-icon-badge">3</div></a></li>
          <li class="list-inline-item position-relative me-3"><a class="text-dark text-primary-hover" href="#" data-bs-toggle="modal" data-bs-target="#sidebarCart">
              <svg class="svg-icon navbar-icon">
                <use xlink:href="#retail-bag-1"> </use>
              </svg>
              <div class="navbar-icon-badge">5</div></a></li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="svg-icon navbar-icon">
            <use xlink:href="#menu-hamburger-1"> </use>
          </svg>
        </button>

        <div class="collapse navbar-collapse hideLogin justify-content-end" id="navbarCollapse">
            <partial name="LoginMenu" />
            @await RenderSectionAsync("HeaderMenu", required: false)
        </div>

      </nav>
    </header>

    <!-- Header END -->
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

            <!-- Slider main container-->
@*    <div class="swiper-container home-slider-design" style="height: 50vh; min-height: 500px;">
      <!-- Additional required wrapper-->
      <div class="swiper-wrapper">
        <!-- Slides-->
        <div class="swiper-slide">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-sm-6 pt-5 pt-md-0" data-swiper-parallax="-500">
                <p class="subtitle letter-spacing-3 mb-3 text-dark font-weight-light">Time is almost up</p>
                <h2 class="display-3 mb-5" style="line-height: 1">Design clocks on sale</h2><a class="btn btn-outline-primary" href="#">Start shopping</a>
              </div>
              <div class="col-sm-6 text-center"><img class="img-fluid home-slider-image" src="~/ElistTheme/img/product/clock-transparent.png" alt="" style="max-height: 500px" data-swiper-parallax="-200">
                <svg class="svg-blob d-none d-md-inline-block svg-blob-fill-current svg-blob-swiper" style="color: #e7eaf9">
                  <use xlink:href="#blob-shape-3"> </use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide bg-cover-left">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-sm-6 pt-5 pt-md-0" data-swiper-parallax="-500">
                <p class="subtitle letter-spacing-3 mb-3 text-dark font-weight-light">Our all-time favourites</p>
                <h2 class="display-3" style="line-height: 1">Black &amp; White</h2>
                <p class="text-muted mb-5">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pit</p><a class="btn btn-outline-primary" href="#">Discover more</a>
              </div>
              <div class="col-sm-6 text-center"><img class="img-fluid home-slider-image" src="~/ElistTheme/img/product/chair2-transparent.png" alt="" style="max-height: 500px" data-swiper-parallax="-200">
                <svg class="svg-blob d-none d-md-inline-block svg-blob-fill-current svg-blob-swiper" style="color: #ffdddd">
                  <use xlink:href="#blob-shape-3"> </use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide bg-cover-right">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-sm-6 pt-5 pt-md-0" data-swiper-parallax="-500">
                <p class="subtitle letter-spacing-3 mb-3 text-dark font-weight-light">Our all-time favourites</p>
                <h2 class="display-3" style="line-height: 1">Boxxez</h2>
                <p class="text-muted mb-5">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pit</p><a class="btn btn-outline-primary" href="#">Discover more</a>
              </div>
              <div class="col-sm-6 text-center"><img class="img-fluid home-slider-image" src="~/ElistTheme/img/product/box-transparent.png" alt="" style="max-height: 500px" data-swiper-parallax="-200">
                <svg class="svg-blob d-none d-md-inline-block svg-blob-fill-current svg-blob-swiper" style="color: #f5e6a8">
                  <use xlink:href="#blob-shape-3"> </use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-nav d-none d-lg-block">
        <div class="swiper-button-prev" id="homePrev"></div>
        <div class="swiper-button-next" id="homeNext">   </div>
      </div>
    </div>*@
        @await RenderSectionAsync("Messages", required: false)
        @await RenderBodyAsync()





@*
    <section class="py-6">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 mb-5">
            <p class="text-uppercase text-muted fw-bold mb-1">Top choices</p>
            <h3>Popular this week</h3>
            <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.    </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4 mb-lg-6 pt-md-3 hover-scale"><a href="detail-2.html"><img class="img-fluid" src="~/ElistTheme/img/product/book-sq.jpg" alt=""></a>
            <div class="px-4 position-relative z-index-2 mt--3"><a class="text-dark text-decoration-none" href="detail-2.html">
                <h3>Furniture<br>source<br>book   </h3>
                <p class="text-muted">$39.90</p></a>
              <p> <a class="btn btn-link text-dark text-decoration-none px-0" href="detail-2.html"> Shop now                       </a></p>
            </div>
          </div>
          <div class="col-md-7 ms-auto mb-4 mb-lg-5 hover-scale">
            <div class="position-absolute z-index-5 py-6"><a class="text-dark text-decoration-none" href="detail-1.html">
                <h2>Norwegg<br>design<br>chair    </h2>
                <p class="text-muted">$139.90</p></a>
              <p> <a class="btn btn-link text-dark text-decoration-none px-0" href="detail-1.html"> Shop now      </a></p>
            </div>
            <div class="ms-6"><a href="detail-1.html"><img class="img-fluid" src="~/ElistTheme/img/product/chair-2-sq.jpg" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ms-auto pt-lg-6 mb-4 mb-lg-5 order-md-2 hover-scale"><a class="text-dark text-decoration-none" href="detail-1.html"><img class="img-fluid" src="~/ElistTheme/img/product/box-sq.jpg" alt=""></a>
            <div class="px-4 position-relative z-index-2 mt--3"><a class="text-dark text-decoration-none" href="detail-1.html">
                <h3>Accessory<br>boxes</h3>
                <p class="text-muted">$29.90</p></a>
              <p> <a class="btn btn-link text-dark text-decoration-none px-0"> Shop now                 </a></p>
            </div>
          </div>
          <div class="col-md-7 mb-4 mb-lg-5 order-md-1 hover-scale">
            <div class="position-absolute z-index-5 py-6"><a class="text-dark text-decoration-none" href="detail-2.html">
                <h2>Sunn<br>Clock<br></h2>
                <p class="text-muted">$89.90</p></a>
              <p> <a class="btn btn-link text-dark text-decoration-none px-0" href="detail-2.html"> Shop now                        </a></p>
            </div>
            <div class="ms-6"><a href="detail-2.html"><img class="img-fluid" src="~/ElistTheme/img/product/clock-sq.jpg" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 pt-md-3 mb-4 mb-lg-5 hover-scale"><a href="detail-2.html"><img class="img-fluid" src="~/ElistTheme/img/product/clock2-sq.jpg" alt=""></a>
            <div class="px-4 position-relative z-index-2 mt--3"><a class="text-dark text-decoration-none" href="detail-2.html">
                <h3>Swiss<br>Minutes<br>Black     </h3>
                <p class="text-muted">$149.90</p></a>
              <p> <a class="btn btn-link text-dark text-decoration-none px-0" href="detail-2.html"> Shop now                       </a></p>
            </div>
          </div>
          <div class="col-md-8 ms-auto hover-scale">
            <div class="position-absolute z-index-5 py-6"><a class="text-dark text-decoration-none" href="detail-1.html">
                <h2>Sevilla<br>dining<br>room chair     </h2>
                <p class="text-muted">$39.90</p></a>
              <p> <a class="btn btn-link text-dark text-decoration-none px-0" href="detail-1.html"> Shop now      </a></p>
            </div>
            <div class="ms-6"><a href="detail-1.html"><img class="img-fluid" src="~/ElistTheme/img/product/chair3-3-sq.jpg" alt=""></a></div>
          </div>
        </div>
      </div>
    </section>
    <div class="position-relative py-5" style="background-color: #ebf7ff;">
      <svg class="svg-blob" style="left: -200px; top: 0;">
        <use xlink:href="#blob-shape-4"> </use>
      </svg>
      <div class="container position-relative">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <div>
              <p class="subtitle mb-3 text-danger">Deal of the week</p>
              <h3 class="h1">Black and white Nordegg chairs</h3>
              <p class="text-muted">
                <del class="me-3">$129.00</del><span>$79.00</span>
              </p>
              <p class="mb-4"><span class="badge bg-danger p-3">$50 off</span></p>
              <div class="bg-white px-5 py-4 shadow mb-4" id="countdown">
                <div class="row justify-content-between">
                  <div class="col-6 col-sm-3 text-center mb-4 mb-sm-0">
                    <h6 class="h4 mb-2 days">&nbsp;</h6><span class="text-muted">days</span>
                  </div>
                  <div class="col-6 col-sm-3 text-center mb-4 mb-sm-0">
                    <h6 class="h4 mb-2 hours">&nbsp;</h6><span class="text-muted">hours</span>
                  </div>
                  <div class="col-6 col-sm-3 text-center">
                    <h6 class="h4 mb-2 minutes">&nbsp;</h6><span class="text-muted">minutes</span>
                  </div>
                  <div class="col-6 col-sm-3 text-center">
                    <h6 class="h4 mb-2 seconds">&nbsp;</h6><span class="text-muted">seconds</span>
                  </div>
                </div>
              </div>
              <p><a class="btn btn-outline-dark" href="#">Shop now</a></p>
            </div>
          </div>
          <div class="col-lg-6 text-center"><img class="img-fluid" src="~/ElistTheme/img/product/chair2-transparent.png" alt="" style="max-height: 450px;"></div>
        </div>
      </div>
    </div>
    <div class="position-relative py-6">
      <svg class="svg-blob svg-blob-fill-current d-none d-md-block" style="right: -200px; top: 400px; color: #f7efcb;">
        <use xlink:href="#blob-shape-2"> </use>
      </svg>
      <div class="container">
        <h2>New Arrivals</h2>
        <p class="lead text-muted mb-5">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p>
        <div class="row justify-content-between align-items-center mb-4">
          <div class="col-12 col-md">
            <ul class="list-inline mb-3 mb-md-0"> 
              <li class="list-inline-item"><a class="text-dark" href="#">All Products </a></li>
              <li class="list-inline-item"><a class="text-muted text-dark-hover" href="#">Chairs </a></li>
              <li class="list-inline-item"><a class="text-muted text-dark-hover" href="#">Books</a></li>
              <li class="list-inline-item"><a class="text-muted text-dark-hover" href="#">Clothes</a></li>
              <li class="list-inline-item"><a class="text-muted text-dark-hover" href="#">Accessories</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-auto"><a class="btn btn-link px-0" href="#">All products</a></div>
        </div>
        <div class="row">
          <!-- product-->
          <div class="col-xl-3 col-md-4 col-6">
            <div class="product product-type-0" data-aos="zoom-in" data-aos-delay="0">
              <div class="product-image mb-md-3">
                <div class="product-badge badge bg-secondary">Fresh</div><a href="detail-1.html">
                  <div class="product-swap-image"><img class="img-fluid product-swap-image-front" src="~/ElistTheme/img/product/chair.jpg" alt="product"/><img class="img-fluid" src="~/ElistTheme/img/product/chair-2.jpg" alt="product"/></div></a>
                <div class="product-hover-overlay"><a class="text-dark text-sm" href="#!">
                    <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                      <use xlink:href="#retail-bag-1"> </use>
                    </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                  <div><a class="text-dark text-primary-hover me-2" href="#!">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#heart-1"> </use>
                      </svg></a><a class="text-dark text-primary-hover text-decoration-none" href="#!" data-bs-toggle="modal" data-bs-target="#quickView">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#expand-1"> </use>
                      </svg></a></div>
                </div>
              </div>
              <div class="position-relative">
                <h3 class="text-base mb-1"><a class="text-dark" href="detail-1.html">Norwegg Chair</a></h3>
                <p class="text-gray-600 text-sm"> <span>$40.00                </span>
                </p>
                <div class="product-stars text-xs"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></div>
              </div>
            </div>
          </div>
          <!-- /product   -->
          <!-- product-->
          <div class="col-xl-3 col-md-4 col-6">
            <div class="product product-type-0" data-aos="zoom-in" data-aos-delay="0">
              <div class="product-image mb-md-3"><a href="detail-1.html">
                  <div class="product-swap-image"><img class="img-fluid product-swap-image-front" src="~/ElistTheme/img/product/book.jpg" alt="product"/><img class="img-fluid" src="~/ElistTheme/img/product/book-2.jpg" alt="product"/></div></a>
                <div class="product-hover-overlay"><a class="text-dark text-sm" href="#!">
                    <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                      <use xlink:href="#retail-bag-1"> </use>
                    </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                  <div><a class="text-dark text-primary-hover me-2" href="#!">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#heart-1"> </use>
                      </svg></a><a class="text-dark text-primary-hover text-decoration-none" href="#!" data-bs-toggle="modal" data-bs-target="#quickView">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#expand-1"> </use>
                      </svg></a></div>
                </div>
              </div>
              <div class="position-relative">
                <h3 class="text-base mb-1"><a class="text-dark" href="detail-1.html">Book</a></h3>
                <p class="text-gray-600 text-sm"> <span>$40.00                </span>
                </p>
                <div class="product-stars text-xs"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></div>
              </div>
            </div>
          </div>
          <!-- /product   -->
          <!-- product-->
          <div class="col-xl-3 col-md-4 col-6">
            <div class="product product-type-0" data-aos="zoom-in" data-aos-delay="0">
              <div class="product-image mb-md-3">
                <div class="product-badge badge bg-primary">Sale</div><a href="detail-1.html">
                  <div class="product-swap-image"><img class="img-fluid product-swap-image-front" src="~/ElistTheme/img/product/chair2.jpg" alt="product"/><img class="img-fluid" src="~/ElistTheme/img/product/chair2-2.jpg" alt="product"/></div></a>
                <div class="product-hover-overlay"><a class="text-dark text-sm" href="#!">
                    <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                      <use xlink:href="#retail-bag-1"> </use>
                    </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                  <div><a class="text-dark text-primary-hover me-2" href="#!">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#heart-1"> </use>
                      </svg></a><a class="text-dark text-primary-hover text-decoration-none" href="#!" data-bs-toggle="modal" data-bs-target="#quickView">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#expand-1"> </use>
                      </svg></a></div>
                </div>
              </div>
              <div class="position-relative">
                <h3 class="text-base mb-1"><a class="text-dark" href="detail-1.html">Another chair</a></h3>
                <p class="text-gray-600 text-sm"> <span>$40.00                </span>
                </p>
                <div class="product-stars text-xs"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></div>
              </div>
            </div>
          </div>
          <!-- /product   -->
          <!-- product-->
          <div class="col-xl-3 col-md-4 col-6">
            <div class="product product-type-0" data-aos="zoom-in" data-aos-delay="0">
              <div class="product-image mb-md-3"><a href="detail-1.html">
                  <div class="product-swap-image"><img class="img-fluid product-swap-image-front" src="~/ElistTheme/img/product/chair3.jpg" alt="product"/><img class="img-fluid" src="~/ElistTheme/img/product/chair3-3.jpg" alt="product"/></div></a>
                <div class="product-hover-overlay"><a class="text-dark text-sm" href="#!">
                    <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                      <use xlink:href="#retail-bag-1"> </use>
                    </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                  <div><a class="text-dark text-primary-hover me-2" href="#!">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#heart-1"> </use>
                      </svg></a><a class="text-dark text-primary-hover text-decoration-none" href="#!" data-bs-toggle="modal" data-bs-target="#quickView">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#expand-1"> </use>
                      </svg></a></div>
                </div>
              </div>
              <div class="position-relative">
                <h3 class="text-base mb-1"><a class="text-dark" href="detail-1.html">Your new chair</a></h3>
                <p class="text-gray-600 text-sm"> <span>$40.00                </span>
                </p>
                <div class="product-stars text-xs"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></div>
              </div>
            </div>
          </div>
          <!-- /product   -->
          <!-- product-->
          <div class="col-xl-3 col-md-4 col-6">
            <div class="product product-type-0" data-aos="zoom-in" data-aos-delay="0">
              <div class="product-image mb-md-3"><a href="detail-1.html">
                  <div class="product-swap-image"><img class="img-fluid product-swap-image-front" src="~/ElistTheme/img/product/clock.jpg" alt="product"/><img class="img-fluid" src="~/ElistTheme/img/product/clock-2.jpg" alt="product"/></div></a>
                <div class="product-hover-overlay"><a class="text-dark text-sm" href="#!">
                    <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                      <use xlink:href="#retail-bag-1"> </use>
                    </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                  <div><a class="text-dark text-primary-hover me-2" href="#!">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#heart-1"> </use>
                      </svg></a><a class="text-dark text-primary-hover text-decoration-none" href="#!" data-bs-toggle="modal" data-bs-target="#quickView">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#expand-1"> </use>
                      </svg></a></div>
                </div>
              </div>
              <div class="position-relative">
                <h3 class="text-base mb-1"><a class="text-dark" href="detail-1.html">Clock</a></h3>
                <p class="text-gray-600 text-sm"> <span>$40.00                </span>
                </p>
                <div class="product-stars text-xs"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></div>
              </div>
            </div>
          </div>
          <!-- /product   -->
          <!-- product-->
          <div class="col-xl-3 col-md-4 col-6">
            <div class="product product-type-0" data-aos="zoom-in" data-aos-delay="0">
              <div class="product-image mb-md-3"><a href="detail-1.html">
                  <div class="product-swap-image"><img class="img-fluid product-swap-image-front" src="~/ElistTheme/img/product/clock3.jpg" alt="product"/><img class="img-fluid" src="~/ElistTheme/img/product/clock3-2.jpg" alt="product"/></div></a>
                <div class="product-hover-overlay"><a class="text-dark text-sm" href="#!">
                    <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                      <use xlink:href="#retail-bag-1"> </use>
                    </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                  <div><a class="text-dark text-primary-hover me-2" href="#!">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#heart-1"> </use>
                      </svg></a><a class="text-dark text-primary-hover text-decoration-none" href="#!" data-bs-toggle="modal" data-bs-target="#quickView">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#expand-1"> </use>
                      </svg></a></div>
                </div>
              </div>
              <div class="position-relative">
                <h3 class="text-base mb-1"><a class="text-dark" href="detail-1.html">Clock</a></h3>
                <p class="text-gray-600 text-sm"> <span>$40.00                </span>
                </p>
                <div class="product-stars text-xs"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></div>
              </div>
            </div>
          </div>
          <!-- /product   -->
          <!-- product-->
          <div class="col-xl-3 col-md-4 col-6">
            <div class="product product-type-0" data-aos="zoom-in" data-aos-delay="0">
              <div class="product-image mb-md-3">
                <div class="product-badge badge bg-dark">Sold out</div><a href="detail-1.html">
                  <div class="product-swap-image"><img class="img-fluid product-swap-image-front" src="~/ElistTheme/img/product/box.jpg" alt="product"/><img class="img-fluid" src="~/ElistTheme/img/product/box-2.jpg" alt="product"/></div></a>
                <div class="product-hover-overlay"><a class="text-dark text-sm" href="#!">
                    <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                      <use xlink:href="#retail-bag-1"> </use>
                    </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                  <div><a class="text-dark text-primary-hover me-2" href="#!">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#heart-1"> </use>
                      </svg></a><a class="text-dark text-primary-hover text-decoration-none" href="#!" data-bs-toggle="modal" data-bs-target="#quickView">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#expand-1"> </use>
                      </svg></a></div>
                </div>
              </div>
              <div class="position-relative">
                <h3 class="text-base mb-1"><a class="text-dark" href="detail-1.html">Accessory box</a></h3>
                <p class="text-gray-600 text-sm"> <span>$40.00                </span>
                </p>
                <div class="product-stars text-xs"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></div>
              </div>
            </div>
          </div>
          <!-- /product   -->
          <!-- product-->
          <div class="col-xl-3 col-md-4 col-6">
            <div class="product product-type-0" data-aos="zoom-in" data-aos-delay="0">
              <div class="product-image mb-md-3"><a href="detail-1.html">
                  <div class="product-swap-image"><img class="img-fluid product-swap-image-front" src="~/ElistTheme/img/product/box2.jpg" alt="product"/><img class="img-fluid" src="~/ElistTheme/img/product/box-2.jpg" alt="product"/></div></a>
                <div class="product-hover-overlay"><a class="text-dark text-sm" href="#!">
                    <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                      <use xlink:href="#retail-bag-1"> </use>
                    </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                  <div><a class="text-dark text-primary-hover me-2" href="#!">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#heart-1"> </use>
                      </svg></a><a class="text-dark text-primary-hover text-decoration-none" href="#!" data-bs-toggle="modal" data-bs-target="#quickView">
                      <svg class="svg-icon svg-icon-heavy">
                        <use xlink:href="#expand-1"> </use>
                      </svg></a></div>
                </div>
              </div>
              <div class="position-relative">
                <h3 class="text-base mb-1"><a class="text-dark" href="detail-1.html">Beige</a></h3>
                <p class="text-gray-600 text-sm"> <span>$40.00                </span>
                </p>
                <div class="product-stars text-xs"><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></div>
              </div>
            </div>
          </div>
          <!-- /product   -->
        </div>
        <!-- Quickview Modal    -->
        <div class="modal fade quickview" id="quickView" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <button class="btn-close btn-close-absolute btn-close-lg btn-close-rotate" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              <div class="modal-body quickview-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="detail-carousel">
                      <div class="product-badge badge bg-primary">Fresh</div>
                      <div class="product-badge badge bg-dark">Sale</div>
                      <div class="swiper swiper-container quickview-slider" id="quickViewSlider">
                        <!-- Additional required wrapper-->
                        <div class="swiper-wrapper">
                          <!-- Slides-->
                          <div class="swiper-slide"><img class="img-fluid" src="~/ElistTheme/img/product/detail-1-gray.jpg" alt="Modern Jacket 1"></div>
                          <div class="swiper-slide"><img class="img-fluid" src="~/ElistTheme/img/product/detail-2-gray.jpg" alt="Modern Jacket 2"></div>
                          <div class="swiper-slide"><img class="img-fluid" src="~/ElistTheme/img/product/detail-3-gray.jpg" alt="Modern Jacket 3"></div>
                          <div class="swiper-slide"><img class="img-fluid" src="~/ElistTheme/img/product/detail-4-gray.jpg" alt="Modern Jacket 4"></div>
                          <div class="swiper-slide"><img class="img-fluid" src="~/ElistTheme/img/product/detail-5-gray.jpg" alt="Modern Jacket 5"></div>
                        </div>
                      </div>
                      <div class="swiper-thumbs" data-swiper="#quickViewSlider">
                        <button class="swiper-thumb-item detail-thumb-item mb-3 active"><img class="img-fluid" src="~/ElistTheme/img/product/detail-1-gray.jpg" alt="Modern Jacket 0"></button>
                        <button class="swiper-thumb-item detail-thumb-item mb-3"><img class="img-fluid" src="~/ElistTheme/img/product/detail-2-gray.jpg" alt="Modern Jacket 1"></button>
                        <button class="swiper-thumb-item detail-thumb-item mb-3"><img class="img-fluid" src="~/ElistTheme/img/product/detail-3-gray.jpg" alt="Modern Jacket 2"></button>
                        <button class="swiper-thumb-item detail-thumb-item mb-3"><img class="img-fluid" src="~/ElistTheme/img/product/detail-4-gray.jpg" alt="Modern Jacket 3"></button>
                        <button class="swiper-thumb-item detail-thumb-item mb-3"><img class="img-fluid" src="~/ElistTheme/img/product/detail-5-gray.jpg" alt="Modern Jacket 4"></button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 p-lg-5">
                    <h2 class="mb-4 mt-4 mt-lg-1">Push-up Jeans</h2>
                    <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                      <ul class="list-inline mb-2 mb-sm-0">
                        <li class="list-inline-item h4 fw-light mb-0">$65.00</li>
                        <li class="list-inline-item text-muted fw-light"> 
                          <del>$90.00</del>
                        </li>
                      </ul>
                      <div class="d-flex align-items-center text-sm">
                        <ul class="list-inline me-2 mb-0">
                          <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                          <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                          <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                          <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                          <li class="list-inline-item me-0"><i class="fa fa-star text-gray-300"></i></li>
                        </ul><span class="text-muted text-uppercase">25 reviews</span>
                      </div>
                    </div>
                    <p class="mb-4 text-muted">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                    <form id="buyForm_modal" action="#">
                      <div class="row">
                        <div class="col-sm-6 col-lg-12 detail-option mb-4">
                          <h6 class="detail-option-heading">Size <span>(required)</span></h6>
                          <select class="selectpicker" name="size" data-style="btn-selectpicker">
                            <option value="value_0">Small</option>
                            <option value="value_1">Medium</option>
                            <option value="value_2">Large</option>
                          </select>
                        </div>
                        <div class="col-sm-6 col-lg-12 detail-option mb-5">
                          <h6 class="detail-option-heading">Type <span>(required)</span></h6>
                          <label class="btn btn-sm btn-outline-primary detail-option-btn-label" for="material_0_modal"> Hoodie
                            <input class="input-invisible" type="radio" name="material" value="value_0" id="material_0_modal" required>
                          </label>
                          <label class="btn btn-sm btn-outline-primary detail-option-btn-label" for="material_1_modal"> College
                            <input class="input-invisible" type="radio" name="material" value="value_1" id="material_1_modal" required>
                          </label>
                        </div>
                      </div>
                      <div class="input-group w-100 mb-4">
                        <input class="form-control form-control-lg detail-quantity" name="items" type="number" value="1">
                        <div class="flex-grow-1">
                          <div class="d-grid h-100">
                            <button class="btn btn-dark" type="submit"> <i class="fa fa-shopping-cart me-2"></i>Add to Cart</button>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="col-6"><a href="#"> <i class="far fa-heart me-2"></i>Add to wishlist </a></div>
                        <div class="col-6 text-end">
                          <ul class="list-inline mb-0">
                            <li class="list-inline-item me-2"><a class="text-dark text-primary-hover" href="#"><i class="fab fa-facebook-f"> </i></a></li>
                            <li class="list-inline-item"><a class="text-dark text-primary-hover" href="#"><i class="fab fa-twitter"> </i></a></li>
                          </ul>
                        </div>
                      </div>
                      <ul class="list-unstyled">
                        <li><strong>Category:</strong> <a class="text-muted" href="#">Jeans</a></li>
                        <li><strong>Tags:</strong> <a class="text-muted" href="#">Leisure</a>, <a class="text-muted" href="#">Elegant</a></li>
                      </ul>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-5">
      <div class="position-relative text-center" style="background: #eae0bd; ">
        <div class="position-absolute w-100 h-100 overflow-hidden">
          <svg class="svg-blob svg-blob-fill-current text-primary" style=" width: 400px; height: 400px; max-width: 100%; left: -200px; top: -50px; ">
            <use xlink:href="#blob-shape"> </use>
          </svg>
        </div>
        <div class="py-6 px-4">   <img class="position-absolute d-none d-md-block" style="right: 0;top: -50px; max-height: 100%; z-index: 5;" src="~/ElistTheme/img/product/chair-transparent.png" alt="">
          <div class="position-relative z-index-10">
            <h4 class="display-3 fw-bold mb-3">Summer Sales</h4>
            <h5 class="h2 fw-light mb-5">Our biggest sales this year &mdash; up to 60% off!</h5><a class="btn btn-outline-dark" href="#">Start shopping</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar Cart Modal-->
    <div class="modal fade modal-right" id="sidebarCart" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content sidebar-cart-content">
          <div class="modal-header mb-3 border-0">
            <button class="btn-close btn-close-lg btn-close-rotate opacity-8" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body px-5 sidebar-cart-body">
            <!-- Empty cart snippet-->
            <!-- In case of empty cart - display this snippet + remove .d-none-->
            <div class="d-none text-center mb-5">
              <svg class="svg-icon w-3rem h-3rem svg-icon-light mb-4 text-muted">
                <use xlink:href="#retail-bag-1"> </use>
              </svg>
              <p>Your cart is empty </p>
            </div>
            <!-- Empty cart snippet end-->
            <div class="sidebar-cart-product-wrapper custom-scrollbar">
              <!-- cart item-->
              <div class="navbar-cart-product"> 
                <div class="d-flex align-items-center"><a href="detail-1.html"><img class="img-fluid navbar-cart-product-image" src="~/ElistTheme/img/product/product-square-ian-dooley-347968-unsplash.jpg" alt="..."/></a>
                  <div class="w-100"><a class="navbar-cart-product-remove" href="#!">
                      <svg class="svg-icon sidebar-cart-icon">
                        <use xlink:href="#close-1"> </use>
                      </svg></a>
                    <div class="ps-3"> <a class="navbar-cart-product-link text-dark link-animated" href="detail-1.html">Skull Tee</a><small class="d-block text-muted">Quantity: 1 </small><strong class="d-block text-sm">$75.00     </strong></div>
                  </div>
                </div>
              </div>
              <!-- cart item-->
              <div class="navbar-cart-product"> 
                <div class="d-flex align-items-center"><a href="detail-1.html"><img class="img-fluid navbar-cart-product-image" src="~/ElistTheme/img/product/product-square-kyle-loftus-596319-unsplash.jpg" alt="..."/></a>
                  <div class="w-100"><a class="navbar-cart-product-remove" href="#!">
                      <svg class="svg-icon sidebar-cart-icon">
                        <use xlink:href="#close-1"> </use>
                      </svg></a>
                    <div class="ps-3"> <a class="navbar-cart-product-link text-dark link-animated" href="detail-1.html">Transparent Blouse</a><small class="d-block text-muted">Quantity: 1 </small><strong class="d-block text-sm">$75.00     </strong></div>
                  </div>
                </div>
              </div>
              <!-- cart item-->
              <div class="navbar-cart-product"> 
                <div class="d-flex align-items-center"><a href="detail-1.html"><img class="img-fluid navbar-cart-product-image" src="~/ElistTheme/img/product/product-square-serrah-galos-494312-unsplash.jpg" alt="..."/></a>
                  <div class="w-100"><a class="navbar-cart-product-remove" href="#!">
                      <svg class="svg-icon sidebar-cart-icon">
                        <use xlink:href="#close-1"> </use>
                      </svg></a>
                    <div class="ps-3"> <a class="navbar-cart-product-link text-dark link-animated" href="detail-1.html">White Tee</a><small class="d-block text-muted">Quantity: 1 </small><strong class="d-block text-sm">$75.00     </strong></div>
                  </div>
                </div>
              </div>
              <!-- cart item-->
              <div class="navbar-cart-product"> 
                <div class="d-flex align-items-center"><a href="detail-1.html"><img class="img-fluid navbar-cart-product-image" src="~/ElistTheme/img/product/product-square-ian-dooley-347968-unsplash.jpg" alt="..."/></a>
                  <div class="w-100"><a class="navbar-cart-product-remove" href="#!">
                      <svg class="svg-icon sidebar-cart-icon">
                        <use xlink:href="#close-1"> </use>
                      </svg></a>
                    <div class="ps-3"> <a class="navbar-cart-product-link text-dark link-animated" href="detail-1.html">Skull Tee</a><small class="d-block text-muted">Quantity: 1 </small><strong class="d-block text-sm">$75.00     </strong></div>
                  </div>
                </div>
              </div>
              <!-- cart item-->
              <div class="navbar-cart-product"> 
                <div class="d-flex align-items-center"><a href="detail-1.html"><img class="img-fluid navbar-cart-product-image" src="~/ElistTheme/img/product/product-square-kyle-loftus-596319-unsplash.jpg" alt="..."/></a>
                  <div class="w-100"><a class="navbar-cart-product-remove" href="#!">
                      <svg class="svg-icon sidebar-cart-icon">
                        <use xlink:href="#close-1"> </use>
                      </svg></a>
                    <div class="ps-3"> <a class="navbar-cart-product-link text-dark link-animated" href="detail-1.html">Transparent Blouse</a><small class="d-block text-muted">Quantity: 1 </small><strong class="d-block text-sm">$75.00     </strong></div>
                  </div>
                </div>
              </div>
              <!-- cart item-->
              <div class="navbar-cart-product"> 
                <div class="d-flex align-items-center"><a href="detail-1.html"><img class="img-fluid navbar-cart-product-image" src="~/ElistTheme/img/product/product-square-serrah-galos-494312-unsplash.jpg" alt="..."/></a>
                  <div class="w-100"><a class="navbar-cart-product-remove" href="#!">
                      <svg class="svg-icon sidebar-cart-icon">
                        <use xlink:href="#close-1"> </use>
                      </svg></a>
                    <div class="ps-3"> <a class="navbar-cart-product-link text-dark link-animated" href="detail-1.html">White Tee</a><small class="d-block text-muted">Quantity: 1 </small><strong class="d-block text-sm">$75.00     </strong></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer sidebar-cart-footer shadow">
            <div class="w-100">
              <h5 class="mb-4">Subtotal: <span class="float-right">$465.32</span></h5>
              <div class="d-grid gap-3"><a class="btn btn-outline-dark" href="cart.html">View cart</a><a class="btn btn-dark" href="checkout.html">Checkout</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar Modal Right-->
    <div class="modal fade modal-right" id="sidebarRight" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button class="btn-close btn-close-lg btn-close-rotate" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body px-5 pb-5">
            <div>
              <h5 class="mb-5" data-aos="zoom-in" data-aos-delay="50">Varkala</h5>
              <ul class="nav flex-column mb-5">
                <li class="nav-item active"><a class="nav-link ps-0" href="#">Home </a></li>
                <li class="nav-item"><a class="nav-link ps-0" href="#">Link</a></li>
                <li class="nav-item"><a class="nav-link ps-0 disabled" href="#">Disabled</a></li>
                <li class="nav-item dropdown"><a class="nav-link ps-0 dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-bs-target="#sidebarSubmenu" data-bs-toggle="collapse" aria-haspopup="true" aria-expanded="false">Dropdown link</a>
                  <div class="collapse" id="sidebarSubmenu">
                    <ul class="nav flex-column ms-3">
                      <li class="nav-item"><a class="nav-link ps-0" href="#">Action</a></li>
                      <li class="nav-item"><a class="nav-link ps-0" href="#">Another action</a></li>
                      <li class="nav-item"><a class="nav-link ps-0" href="#">Something else here                </a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <ul class="list-inline mb-4">
                <li class="list-inline-item me-2"><i class="fab fa-facebook-f"> </i></li>
                <li class="list-inline-item me-2"><i class="fab fa-twitter"> </i></li>
                <li class="list-inline-item me-2">
                  <svg class="svg-icon me-2">
                    <use xlink:href="#calls-1"> </use>
                  </svg>020-800-456-747
                </li>
              </ul>
              <p class="text-sm text-muted mb-0">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Login Modal    -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button class="btn-close btn-close-absolute btn-close-lg btn-close-rotate" type="button" data-bs-dismiss="modal" aria-label="Close">     </button>
          <div class="modal-body p-5">
            <ul class="nav list-inline" role="tablist">
              <li class="list-inline-item"><a class="nav-link nav-link-lg active" data-bs-toggle="tab" href="#loginModalTabLogin" role="tab" id="loginModalLinkLogin" aria-controls="loginModalTabLogin" aria-selected="true">Login</a></li>
              <li class="list-inline-item"><a class="nav-link nav-link-lg" data-bs-toggle="tab" href="#loginModalTabRegister" role="tab" id="loginModalLinkRegister" aria-controls="loginModalTabRegister" aria-selected="false">Register</a></li>
            </ul>
            <hr class="mb-3">
            <div class="tab-content">
              <div class="tab-pane active fade show px-3" id="loginModalTabLogin" role="tabpanel" aria-labelledby="loginModalLinkLogin">
                <form action="customer-orders.html" method="get">
                  <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" id="email" type="text">
                  </div>
                  <div class="mb-3">
                    <div class="row">
                      <div class="col">
                        <label class="form-label" for="loginPassword"> Password</label>
                      </div>
                      <div class="col-auto"><a class="form-text small" href="#">Forgot password?</a></div>
                    </div>
                    <input class="form-control" name="loginPassword" id="loginPassword" placeholder="Password" type="password" required data-msg="Please enter your password">
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input class="form-check-input" id="loginRemember" type="checkbox">
                      <label class="form-check-label text-muted" for="loginRemember"> <span class="text-sm">Remember me for 30 days</span></label>
                    </div>
                  </div>
                  <div class="d-grid mb-3">
                    <button class="btn btn-outline-dark" type="submit"><i class="fa fa-sign-in-alt me-2"></i> Log in</button>
                  </div>
                </form>
                <hr class="my-3 hr-text letter-spacing-2" data-content="OR">
                <div class="text-center">
                  <button class="btn btn btn-outline-primary letter-spacing-0" data-bs-toggle="tooltip" title="Connect with Facebook"><i class="fa-fw fa-facebook-f fab"></i><span class="sr-only">Connect with Facebook</span></button>
                  <button class="btn btn btn-outline-muted letter-spacing-0" data-bs-toggle="tooltip" title="Connect with Google"><i class="fa-fw fa-google fab"></i><span class="sr-only">Connect with Google</span></button>
                </div>
              </div>
              <div class="tab-pane fade px-3" id="loginModalTabRegister" role="tabpanel" aria-labelledby="loginModalLinkRegister">
                <p class="text-muted text-sm">The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pit.                                            </p>
                <form action="customer-orders.html" method="get">
                  <div class="mb-3">
                    <label class="form-label" for="registerName">Name</label>
                    <input class="form-control" id="registerName" type="text">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="registerEmail">Email</label>
                    <input class="form-control" id="registerEmail" type="text">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="registerPassword">Password</label>
                    <input class="form-control" id="registerPassword" type="password">
                  </div>
                  <div class="d-grid mb-3 text-center">
                    <button class="btn btn-outline-dark" type="submit"><i class="far fa-user me-2"></i>Register                       </button>
                  </div>
                </form>
                <hr class="my-3 hr-text letter-spacing-2" data-content="OR CONNECT WITH">
                <div class="text-center">
                  <button class="btn btn btn-outline-primary letter-spacing-0" data-bs-toggle="tooltip" title="Connect with Facebook"><i class="fa-fw fa-facebook-f fab"></i><span class="sr-only">Connect with Facebook</span></button>
                  <button class="btn btn btn-outline-muted letter-spacing-0" data-bs-toggle="tooltip" title="Connect with Google"><i class="fa-fw fa-google fab"></i><span class="sr-only">Connect with Google                                      </span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
*@


    </main>



    <!-- **************** MAIN CONTENT END **************** -->
    <!-- Back to top -->
    <div class="back-top"><i class="bi bi-arrow-up-short"></i></div>




    @if (IsSectionDefined("Footer"))
    {
        <footer>
            <div class="container">
                @await RenderSectionAsync("Footer", required: false)
            </div>
        </footer>
    }
    <resources type="FootScript" />

</body>

</html>