@using ElistaTheme
@using OrchardCore.ContentManagement
@using OrchardCore.Entities
@using OrchardCore.Settings
@inject ISiteService site

@{
    var contacts = (await site.GetSiteSettingsAsync()).As<ContentItem>("GeneralSettings");
    var phone = contacts.GetText("Phone") ?? "+385 98 210 756";
    var email = contacts.GetText("Email") ?? "info@formadria.com";
}

<div class="top-bar text-sm">
    <div class="container-fluid px-lg-5 py-2 py-md-3">
        <div class="row align-items-center">
            <div class="col-6">
                <ul class="list-inline mb-0">
                    <li class="d-none list-inline-item me-2"><a class="text-reset text-primary-hover" href="#"><i class="fab fa-facebook-f"> </i></a></li>
                    <li class="list-inline-item me-4">
                        <a class="text-reset text-primary-hover" target="_blank" href="https://www.instagram.com/formadria/"><i style="font-size:18px;margin-right:.5rem" class="fab fa-instagram"></i>instagram</a>
                    </li>
                    <li class="list-inline-item align-top me-4">
                        <svg class="svg-icon me-2">
                            <use xlink:href="#open-mail-1"> </use>
                        </svg>@email
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item float-end align-top me-4">
                        <shape type="ContentCulturePicker" />
                    </li>
                    <li class="list-inline-item float-end align-top me-4">
                        <svg class="svg-icon me-2">
                            <use xlink:href="#calls-1"> </use>
                        </svg>@phone
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
