@using OrchardCore.Commerce.Abstractions
@inject IShoppingCartPersistence cart
@{
    var some=await cart.Retrieve();
}
<form class="d-lg-flex ms-auto me-lg-5 me-xl-6 my-4 my-lg-0" action="#">
    <div class="d-none input-group input-group-underlined">
        <input class="form-control form-control-underlined ps-3" type="text" placeholder="Search" aria-label="Search" aria-describedby="button-search">
        <button class="btn btn-underlined" id="button-search" type="button">
            <svg class="svg-icon navbar-icon">
                <use xlink:href="#search-1"> </use>
            </svg>
        </button>
    </div>
</form>
<ul class="list-inline mb-0 d-none d-lg-block">
    <li class="list-inline-item position-relative me-3">
        <a class="text-dark text-primary-hover" href="/cart">
            <svg class="svg-icon navbar-icon">
                <use xlink:href="#retail-bag-1"> </use>
            </svg>
            <div class="navbar-icon-badge">@some.Count</div>
        </a>
    </li>
</ul>