@using OrchardCore.Commerce.Models
@using OrchardCore.ContentManagement
@using OrchardCore.DisplayManagement.Shapes
@using System.Globalization
@{

    ContentItem ci = Model.ContentItem;
    var pricep = ci.As<PricePart>();
    Model.Content.Remove("PricePart"); //remove from displaying
    var price = pricep.Price.Value.ToString("n2");
    var curr = pricep.Price.Currency.ToString();
    if (CultureInfo.CurrentCulture.Name == "hr")
    {
        price = (pricep.Price.Value * 7.5m).ToString("n2");
        curr = "kn";
    }

}

<section>
    <div class="container pt-5">
        <div class="d-none" id="addToCartAlert">
            <div class="mb-4 mb-lg-5 alert alert-success alert-dismissible fade show" role="alert">
                <div class="d-flex align-items-center">
                    <svg class="svg-icon d-none d-sm-block w-3rem h-3rem svg-icon-light flex-shrink-0 me-3">
                        <use xlink:href="#checked-circle-1"> </use>
                    </svg>
                    <p class="mb-0">Push-up jeans have been added to your cart. <br class="d-inline-block d-lg-none"><a href="cart.html" class="text-reset text-decoration-underline ms-lg-3">View Cart</a></p>
                </div>
                <button class="btn-close btn-close-white opacity-10" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <ul class="d-none breadcrumb undefined">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="category-full.html">Tops and Jackets</a></li>
            <li class="breadcrumb-item active">@ci.DisplayText</li>
        </ul>
        <div class="row">
            <div class="col-lg-7 order-2 order-lg-1">
                @await DisplayAsync(Model.Gallery)
            </div>
            <div class="col-lg-5 ps-lg-4 order-1 order-lg-2">
                <h1 class="mb-4">@ci.DisplayText</h1>
                <div class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-sm-between mb-4">
                    <ul class="list-inline mb-2 mb-sm-0">
                        <li class="list-inline-item h4 fw-light mb-0">@price @curr</li>
                        <li class="d-none list-inline-item text-muted fw-light">
                            $90.00
                        </li>
                    </ul>
                    <!-- rating -->
                    <div class="d-none align-items-center text-sm">
                        <ul class="list-inline me-2 mb-0">
                            <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                            <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                            <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                            <li class="list-inline-item me-0"><i class="fa fa-star text-primary"></i></li>
                            <li class="list-inline-item me-0"><i class="fa fa-star text-gray-300"></i></li>
                        </ul><span class="text-muted text-uppercase">23 reviews</span>
                    </div>
                    <!-- rating end -->
                </div>
                @await DisplayAsync(Model.Content)
            </div>
        </div>
    </div>
</section>