@model OrchardCore.Media.ViewModels.DisplayMediaFieldViewModel
@using ElistaTheme
@using OrchardCore.ContentManagement.Metadata.Models
@using OrchardCore.Mvc.Utilities
@{

    var paths = Model.Paths ?? Array.Empty<string>();
    var firstPic = paths.FirstOrDefault();
    var secondPick = paths.Skip(1).FirstOrDefault() ?? firstPic;
    var bgColor = Helpers.Pop();
}
<div class="product-swap-image">
    <img class="img-fluid product-swap-image-front" style="background-color:@bgColor" src="@Orchard.AssetUrl(firstPic)" alt="product" />
    <img class="img-fluid" style="background-color:@bgColor" src="@Orchard.AssetUrl(secondPick)" alt="product" />
</div>