<!DOCTYPE html>
<html lang="hr-HR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link type="image/x-icon" rel="shortcut icon" href="~/ElistaTheme/img/favicon.ico">
    <style asp-name="ElistaTheme-FontStyle"></style>
    <style asp-name="ElistaTheme-Swiper"></style>
    <style asp-name="ElistaTheme-Aos"></style>

    <style asp-name="ElistaTheme-MalihuScrollbar"></style>
    <style asp-name="ElistaTheme-Default"></style>
    <style asp-name="ElistaTheme-Custom"></style>
    <style asp-name="ElistaTheme-FontAwesome"></style>


    <script asp-name="ElistaTheme-Bootstrap" at="Foot"></script>
    <script asp-name="ElistaTheme-Jquery" at="Foot"></script>
    <script asp-name="ElistaTheme-Bootstrap" at="Foot"></script>
    <script asp-name="ElistaTheme-BootstrapSelect" at="Foot"></script>
    <script asp-name="ElistaTheme-Aos" at="Foot"></script>
    <script asp-name="ElistaTheme-mCustomScrollbar" at="Foot"></script>
    <script asp-name="ElistaTheme-CustomScrollbar" at="Foot"></script>
    <script asp-name="ElistaTheme-PolyFills" at="Foot"></script>
    <script asp-name="ElistaTheme-Ofi" at="Foot"></script>
    <script asp-name="ElistaTheme-Countdown" at="Foot"></script>
    <script asp-name="ElistaTheme-Sliders" at="Foot"></script>
    <script asp-name="ElistaTheme-Theme" at="Foot"></script>
    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
    @await RenderSectionAsync("HeadMeta", required: false)
</head>

<body>
    <partial name="Svgs" />
    <!-- Header START -->

    <header class="header">
        <!-- Top Bar-->
        <partial name="TopBar" />
        <!-- Top Bar End-->
        <partial name="NavBar" />
    </header>
    <svg class="svg-blob svg-blob-fill-current" style="z-index:-1; width: 800px; height: 800px; max-width: 100%; left: -200px; top: -200px; color: #e0d4ab;">
        <use xlink:href="#blob-shape"> </use>
    </svg>
    <!-- Header END -->
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        @await RenderSectionAsync("Messages", required: false)
        @await RenderBodyAsync()
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    <!-- Back to top -->
    <div class="back-top"><i class="bi bi-arrow-up-short"></i></div>

    <partial name="Footer" />
    <resources type="FootScript" />
</body>

</html>