@{
    var link = Model.ContentItem.Content.LinkMenuItemPart;
    if (Model.HasItems)
    {
        <a class="nav-link dropdown-toggle" id="homeDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{Model.ContentItem}} </a>
    }
    else
    {
        <a class="nav-link" display-for="Model.ContentItem"> @Model.ContentItem.DisplayText</a>
    }
}