@using IcfTheme
@using OrchardCore.Admin.Models
@using OrchardCore.ContentManagement
@using OrchardCore.DisplayManagement.ModelBinding
@using OrchardCore.Entities
@using OrchardCore.Settings
@inject ISiteService site
@inject IDisplayManager<Navbar> NavbarDisplay
@inject IUpdateModelAccessor UpdateModelAccessor

@{
    var contacts = (await site.GetSiteSettingsAsync()).As<ContentItem>("GeneralSettings");
    var phone = contacts.GetText("Phone") ?? "+385 99 399 1989";
    var email = contacts.GetText("Email") ?? "icf@formadria.com";
}

<div class="icf-topbar text-sm">
    <div class="container-fluid px-lg-5 py-2">
        <div class="row align-items-center">
            <div class="col-md-7">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <i class="fas fa-envelope me-2"></i>
                        <a class="text-reset" href="mailto:@email">@email</a>
                    </li>
                    <li class="list-inline-item">
                        <i class="fas fa-phone me-2"></i>
                        <a class="text-reset" href="tel:@phone.Replace(" ", string.Empty)">@phone</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
